/* * {
    outline: 1px black dotted;
} */

body {
    width: 90%;
    margin: 0 auto;
}

.content {
    width: 480px;
    margin: 0 auto;
}

#header {
    position: relative;
    width: 100%;
    background-color: grey;
    height: 100px;
    margin: 0 auto;
}

#menu-list {
    float: right;
    display: none;
}

#icon-menu { 
    float: right;
    text-align: right;
    padding-bottom: 50px;
    margin: 0 auto;
}

#icon-menu:hover + #menu-list {
    display: block;
    position: relative;
    float: right;
    clear: left;
    width: 15%;
    padding: 10px;
}

#books {
    margin: 0 auto;
}

.img {
    margin: 0 auto;
    display: block;
    
}

.book-title {
    background-color: lightgray;
    margin-top: 0px;
    margin: 0 auto;
    width: 350px;
}

#bookapp {
    font-size: 25px;
    position: absolute;
    margin-left: 25%;
    
}

#book-form {
    margin: 0 auto;
}

#header p{
    margin-top: 30px;
}

#footer {
    width: 100%;
    background-color: grey;
    height: 100px;
    margin: 0 auto; 
}

/* #book-form {
    display: none;
} */




 